body {
    font-family: 'Poppins', sans-serif;
}
section {
    padding-top: 6rem;
}
.active-header {
    background-color: #2b2b2b !important;
  }

  .navbar-brand {
    font-size: 30px;
    line-height: 40px;
    color: white !important;
    z-index: 7;
  }
  
  .navbar ul li a.nav-link {
    color: white !important;
  } 
  
.navbar .btn-primary{
    color: white;
    background: #00008B;
    font-size: 16px;
    font-weight: bold;
    border: 0;
}
.navbar .btn-primary:hover{
    color: white;
    background: #2e2eb6;
    border: 0;
}
.navbar .btn-secondary{
    color: white;
    background: none;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #2e2eb6;
}
.navbar .btn-secondary:hover{
    color: white;
    background: #2e2eb6;
    border: 1px solid #2e2eb6;
}
@media only screen and (max-width: 768px) {
    .btn-primary, .btn-secondary {
        margin-top: 10px;
        margin-left: 0 !important;
    }
}
 .banner img {
     width: 100%;
     background-size: cover ;
     height: 584px;
     position: relative;
}
@media (max-width:380px){
    .banner img {
        height: 544px;
        background-size: auto 544px;
    }
}
.banner::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}
@media only screen and (max-width: 768px) {
    .banner img {
        height: 550px;
    }
}
.carousel-caption {
    padding-bottom: 150px;
}
.carousel-desc{
    color: #858d9a;
}
.carousel-title{
    font-size: 50px !important;
}
 @media only screen and (max-width: 768px) {
    .carousel-caption{
       font-size: 16px;
    }
} 
.carousel-caption h2{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
}
.carousel-control-prev {
    background-image: none;
}
.carousel-indicators .active {
    background-color: 	#00008B;
    
}
@media only screen and (max-width: 768px) {
    .carousel-caption{ 
        margin-top: 20px;
        height: 544px;
        background-size: auto 544px;
    }
    .carousel-caption h2{
        width: 100%;
        padding: 68px 0% 0% 0%;
        font-size: 25px;
        line-height: 40px;
    }

}
.service .card-title img {
    top: 0px;
    left: 0px;
    width: 52px;
    height: auto;
}
.service .link{
    color: black;
}
.modal ul li{
    font-size: 14px;
}
.modal-content {
    background: #2b2b2b;
    color: white;
}
.modal-content h4{
    text-decoration: none;
    color: white;
}
.service .card-title a{
    color: black;
}
.title{
    text-align: center;
    font-weight: 700;
}
.card-header{
    background: none;
}

.pilihan .card{
    background: none;
}
section.features {
    background: #f7fafd;
    margin-top: 20px;
    padding-bottom: 80px;
}
.features .card{
    background: #f7fafd;
    border: none;
    /* border-radius: 20px; */
    overflow: hidden;
    transition: transform .5s ease;
}

.features .card:hover{
    transform: scale(1.1);
    background: #ffffff;
}

.our-dc .location small {
    font-size: 18px;
    color: #727c8c;
    line-height: 22px;
}
 ul li{
    list-style: none;
}
.our-dc {
    background-image: url('../assets/indonesia.png');
     background-size: cover;
    background-repeat: no-repeat;
}
.our-dc .nav-link{
    color: black;
}
.our-dc .nav-link:hover{
    color: #00008B;
    border-bottom: 3px solid #00008B;
}
p {
    line-height: 30px;
}
h4 {
    font-size: 18px;
    line-height: 30px;
    color: #374151;
}
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}
a:hover {
    text-decoration: none;
    color: #00008B;
}
.title-2{
    color: 	#00008B;
    font-weight: 700;
}

footer{
    background: #2b2b2b;
    color: white;
    font-size: 24px;
    margin-top: -21px;
}
footer p{
    font-size: 14px;
}
footer a {
    color: white;
}
footer a:hover{
    color: white;
}
@media only screen and (max-width: 768px) {
    footer,  .brand, .service, .company, .support{
        text-align: center;
        padding-top: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .col-md-2{
        flex: 0 0 auto;
        width: 25%;
    }
}



